@model GGFPortal.DataSetSource.GGF多語對照表

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>GGF多語對照表</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.程式)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.程式)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.資料代號)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.資料代號)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.中文)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.中文)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.英文)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.英文)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.越文)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.越文)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.說明)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.說明)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.建立時間)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.建立時間)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.異動時間)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.異動時間)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
